# PlatformIO
.pio
.vscode

# Credentials
include/credentials.h

# Flutter/Dart
app/energy_monitor/.dart_tool/
app/energy_monitor/.flutter-plugins
app/energy_monitor/.flutter-plugins-dependencies
app/energy_monitor/.packages
app/energy_monitor/build/
app/energy_monitor/.pub-cache/
app/energy_monitor/.pub/

# Firebase
app/energy_monitor/google-services.json
app/energy_monitor/ios/Runner/GoogleService-Info.plist
app/energy_monitor/firebase.json

# IDE
.idea/
*.iml
.DS_Store